# 1. Copy this file to a new file named .env
# 2. In the new file, update the next line to include 
#.   your actual connection string - including username and password. 
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/libraryDB
